{% extends 'base.html' %}

{% block content %}

<body style="margin: 0; padding: 0; background-color: lightsteelblue">
<div style="max-width: max-content; margin: 160px auto;">
<h1 style="color: mediumblue">Press link below to add news</h1>

<form method="post"> {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Add news" style="background-color: mediumslateblue; color: white; border-radius: 3px;">
</form><br>

<ul>
    {% for new in object_list %}
        <li>{{ new.title }}<p>, info by </p> {{ new.source }}</li>
    {{ new.text }}
    {% endfor %}
</ul>
</div>
</body>
{% endblock content %}